# 划分方式

In [8]:
# 12666 imgs：
#     train: 9000
#     val: 1666
#     test: 2000

In [1]:
import pandas as pd

In [4]:
server_df = pd.read_csv('server-train.txt', header=None)

In [5]:
server_df.describe()

                                            0
count                                   12666
unique                                  12666
top     52f5916jw1eytbpjgh9aj20c80ga74i.jpg 0
freq                                        1

In [10]:
server_df.head()

                                       0
0  24c2f04gw1eyvldl3cnbj20zk0np45y.jpg 0
1  061c249gw1ezvm5ts2okj208406474b.jpg 0
2  782e4abgw1ezfd4e1kztj20p00g80vc.jpg 0
3  3d444e3gw1eyomrjcg8yj20dd0b9401.jpg 0
4  1e6c012jw1ezm12voxp8j20c806xjrl.jpg 0

In [18]:
shuffled_df = server_df.sample(frac=1).reset_index(drop=True)

In [19]:
server_df.head()

                                       0
0  24c2f04gw1eyvldl3cnbj20zk0np45y.jpg 0
1  061c249gw1ezvm5ts2okj208406474b.jpg 0
2  782e4abgw1ezfd4e1kztj20p00g80vc.jpg 0
3  3d444e3gw1eyomrjcg8yj20dd0b9401.jpg 0
4  1e6c012jw1ezm12voxp8j20c806xjrl.jpg 0

In [27]:
shuffled_df.head()

                                       0
0  1e6c012jw1ezdy4ot4r4j21410qo7bs.jpg 0
1  693ce84gw1eyj22zjci5j20by0gwdhk.jpg 0
2  18f4125jw1es88i12cjnj218g0xcqdj.jpg 1
3  55dd5f3gw1eydn9rra87j20c80gzmyl.jpg 0
4  1ff32dejw1ez6g3ww9k6j20c80gbwfy.jpg 0

In [29]:
shuffled_df.to_csv('shuffled-all.txt', header=None, index=None)

In [34]:
train_df = shuffled_df.iloc[0:9000]
val_df = shuffled_df.iloc[9000:10666]
test_df = shuffled_df.iloc[10666:12666]

In [38]:
train_df.to_csv('train_1.txt', header=None, index=None)
val_df.to_csv('val_1.txt', header=None, index=None)
test_df.to_csv('test_1.txt', header=None, index=None)

In [39]:
train_df.describe()

                                            0
count                                    9000
unique                                   9000
top     693ce84gw1eybxgqeh1oj20bl1b8n24.jpg 0
freq                                        1

# See

In [1]:
import pandas as pd

In [5]:
train_df = pd.read_csv('train_1.txt', header=None, delim_whitespace=True)

In [11]:
train_df.to_csv('train_1_9000.csv', header=None)